body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura completa de la pantalla */
    background-color: #f9f9f9;
    margin: 0;
  }

.traffic-light {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  
  .light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s;
  }
  
  .light.red {
    background-color: red;
  }
  .light.yellow {
    background-color: yellow;
  }
  .light.green {
    background-color: green;
  }
  
  .light.selected {
    opacity: 1;
    box-shadow: 0 0 20px 5px white;
  }
  
